.user-container{
    display: flex;
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;
}
.user-container img{
    height: 300px;
    border-radius: 5px;
}
.info{
    padding-left: 30px;
    text-align: left;
    line-height: 12px;
    font-size: 18px;
}
.info h4{
    font-size: 25px;   
}
.main-button {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 200px;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
}
.main-button-text {
    margin-left: 5px;
}